body {
    font-family: $font-family-sans-serif;
    display: flex;
    width: 100%;
    height: 100%;
}

#app {
    width: 82%;
}

.page__section {
    margin-left: 50px;
    margin-top: 50px;
    width: 90%; 
    .page__title {
        width: fit-content;
        margin-bottom: 50px;
        .page__title__line {
            width: 100%;
            height: 3px;
            background-color: #f02f5a;
        }    
    }
    .page__content {
        h4 {
            font-size: 24px;
            color: #f02f54;
        }
        p {
            font-size: 16px;
        }
        .code_snippet {
            margin-bottom: 15px;
            code {
                background-color: black;
                padding: 15px;
                width: fit-content;
                border-radius: 5px;
            }
        }
    }
}